In [51]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import FeatureUnion, Pipeline, make_pipeline
import joblib

In [3]:
train = pd.read_csv("Train_UWu5bXk.txt")
test = pd.read_csv("Test_u94Q5KV.txt")

In [4]:
train.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [5]:
train.isna().count()

Item_Identifier              8523
Item_Weight                  8523
Item_Fat_Content             8523
Item_Visibility              8523
Item_Type                    8523
Item_MRP                     8523
Outlet_Identifier            8523
Outlet_Establishment_Year    8523
Outlet_Size                  8523
Outlet_Location_Type         8523
Outlet_Type                  8523
Item_Outlet_Sales            8523
dtype: int64

In [7]:
train.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [8]:
test.isna().count()

Item_Identifier              5681
Item_Weight                  5681
Item_Fat_Content             5681
Item_Visibility              5681
Item_Type                    5681
Item_MRP                     5681
Outlet_Identifier            5681
Outlet_Establishment_Year    5681
Outlet_Size                  5681
Outlet_Location_Type         5681
Outlet_Type                  5681
dtype: int64

In [9]:
test.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5676    False
5677    False
5678    False
5679    False
5680    False
Length: 5681, dtype: bool

In [22]:
numerical_columns1 = train.select_dtypes(include=np.number).columns

In [12]:
numerical_columns

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
0,9.300,0.016047,249.8092,1999,3735.1380
1,5.920,0.019278,48.2692,2009,443.4228
2,17.500,0.016760,141.6180,1999,2097.2700
3,19.200,0.000000,182.0950,1998,732.3800
4,8.930,0.000000,53.8614,1987,994.7052
...,...,...,...,...,...
8518,6.865,0.056783,214.5218,1987,2778.3834
8519,8.380,0.046982,108.1570,2002,549.2850
8520,10.600,0.035186,85.1224,2004,1193.1136
8521,7.210,0.145221,103.1332,2009,1845.5976
8522,14.800,0.044878,75.4670,1997,765.6700

In [14]:
numerical_columns = test.select_dtypes(include=np.number)

In [15]:
numerical_columns

      Item_Weight  Item_Visibility  Item_MRP  Outlet_Establishment_Year
0          20.750         0.007565  107.8622                       1999
1           8.300         0.038428   87.3198                       2007
2          14.600         0.099575  241.7538                       1998
3           7.315         0.015388  155.0340                       2007
4             NaN         0.118599  234.2300                       1985
...           ...              ...       ...                        ...
5676       10.500         0.013496  141.3154                       1997
5677        7.600         0.142991  169.1448                       2009
5678       10.000         0.073529  118.7440                       2002
5679       15.300         0.000000  214.6218                       2007
5680        9.500         0.104720   79.7960                       2002

[5681 rows x 4 columns]

In [16]:
model = LinearRegression()

In [30]:
train_X = train[numerical_columns1].drop('Item_Outlet_Sales', axis=1)

In [31]:
train_X["Item_Weight"] = train.groupby("Item_Identifier").Item_Weight.transform(lambda x: x.fillna(x.mean()))

In [36]:
train_X = train_X.dropna()

In [37]:
train_Y = train['Item_Outlet_Sales']

In [42]:
train_Y.shape

(8519,)

In [41]:
train_Y = train_Y.iloc[:8519]

In [43]:
model.fit(train_X,train_Y)

LinearRegression()

In [45]:
pipe = Pipeline([('model',LinearRegression())])

In [47]:
pipe.fit(train_X, train_Y)

Pipeline(steps=[('model', LinearRegression())])

In [48]:
pipe.predict(train_X)

array([2383.08304401, 1998.04335763, 2187.15766363, ..., 2072.56255355,
       2081.51804573, 2067.34906307])

In [49]:
train_X

      Item_Weight  Item_Visibility  Item_MRP  Outlet_Establishment_Year
0           9.300         0.016047  249.8092                       1999
1           5.920         0.019278   48.2692                       2009
2          17.500         0.016760  141.6180                       1999
3          19.200         0.000000  182.0950                       1998
4           8.930         0.000000   53.8614                       1987
...           ...              ...       ...                        ...
8518        6.865         0.056783  214.5218                       1987
8519        8.380         0.046982  108.1570                       2002
8520       10.600         0.035186   85.1224                       2004
8521        7.210         0.145221  103.1332                       2009
8522       14.800         0.044878   75.4670                       1997

[8519 rows x 4 columns]

In [50]:
pipe.predict(test_X)

NameError: name 'test_X' is not defined

In [52]:
joblib.dump(pipe, 'BigMartSales.pkl')

['BigMartSales.pkl']