In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import StandardScaler, PowerTransformer
from sklearn.compose import TransformedTargetRegressor
from sklearn.pipeline import FeatureUnion, Pipeline, make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin

from sklearn.linear_model import LinearRegression

In [ ]:
import joblib

In [ ]:
df = pd.DataFrame(columns=['X1', 'X2', 'y'], data=[
                                                   [1,16,9],
                                                   [4,36,16],
                                                   [1,16,9],
                                                   [2,9,8],
                                                   [3,36,15],
                                                   [2,49,16],
                                                   [4,25,14],
                                                   [5,36,17]
])

### y = X1 + 2 * sqrt(X2)

train = df.iloc[:6]
test = df.iloc[6:]

train_X = train.drop('y', axis=1)
train_y = train.y

test_X = test.drop('y', axis=1)
test_y = test.y

In [ ]:
df

   X1  X2   y
0   1  16   9
1   4  36  16
2   1  16   9
3   2   9   8
4   3  36  15
5   2  49  16
6   4  25  14
7   5  36  17

In [ ]:
train_X

   X1  X2
0   1  16
1   4  36
2   1  16
3   2   9
4   3  36
5   2  49

In [ ]:
test_X

   X1  X2
6   4  25
7   5  36

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(train_X,train_y)

LinearRegression()

In [ ]:
model.predict(train_X)

array([ 8.77758885, 15.87213059,  8.77758885,  8.4699881 , 14.81091651,
       16.29178711])

In [ ]:
mean_squared_error(train_y,model.predict(train_X))

0.07617752082979069

In [ ]:
model.predict(test_X)

mean_squared_error(test_y,model.predict(test_X))

0.041104070498024704

In [ ]:
joblib.dump(model, 'Linear_model.pkl')

['Linear_model.pkl']